body {
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#mainContainer {
  
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0px;
    background-image: url(hexagon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: green;
    z-index: -1;
 
}

.container {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container div {
  width: 10px;
  height: 3%;
  background-color: antiquewhite;
  margin-left: 3px;
  font-size: 13px;
  color: black;
}

#controls {
  top: 10wh;
  display: flex;
  gap: 10px;
}


button {
  cursor: pointer;
  position: absolute;
  width: 5.7vw; /* The width of the hexagon */
    height: 6.5vw; /* Adjust the height for a proper hexagon */
    background-color: #4ddb34; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    top: 1vw;
    left: 47.18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}


#firstCont{
  height: 20%;
  position: relative;
}
#secondCont{
  height: 18%;
  position: relative;
}
#thirdCont{
  height: 29%;
  position: relative;
}
#revweList {
  position: absolute;
  background-color: rgb(85, 164, 85);
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#reviewTitle {
  font-size: 4vw;
  
}
#reviewTitle span {
  font-size: 6vw;
  color:  red;
  
}
#procent{
  margin: 0;
  font-size: 6vw;
  color: rgb(70, 51, 153)
}

.mistakes{
color:  rgb(34, 32, 32);
font-size: 2vw;
margin: 0.3vh;
}
.mistakes span {
  color:  rgb(219, 202, 202);
  font-size: 1.6vw;
  margin: 0.3vh;
  }
  






#VideoAnswer{
  position: absolute;
  background-color: black;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#videoQuestion{
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
#RightContainer{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
#WrongContainer{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
#wrongAnswer{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#rightAnswer{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
#theEnd{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: green;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  white;
  font-size: 70px;
  z-index: -2;
}

#videoPlayer{
 position: absolute;
 width: 100%;
 height: 100%;
 bottom: 0;
  z-index: -2;
}
#revew{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: green;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  white;
  font-size: 70px;
  z-index: -2;
}

#divplace65{
  background-color: red;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
#divplace1{
  width: 5.7%; /* The width of the hexagon */
    height: 32.7%; /* Adjust the height for a proper hexagon */
    background-color: #3498db; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 34%;
    left: 43.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 55px 15px rgba(0, 0, 0, 0.5);
    
}
#divplace2{
  width: 5.7%; /* The width of the hexagon */
    height: 32.7%; /* Adjust the height for a proper hexagon */
    background-color: #3498db; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 34%;
    left: 50.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace3{
  width: 5.7%; /* The width of the hexagon */
    height: 32.7%; /* Adjust the height for a proper hexagon */
    background-color: #3498db; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 63.9%;
    left: 40.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace4{
  width: 5.7%; /* The width of the hexagon */
    height: 32.7%; /* Adjust the height for a proper hexagon */
    background-color: #3498db; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 63.9%;
    left: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace5{
  width: 5.7%; /* The width of the hexagon */
    height: 32.7%; /* Adjust the height for a proper hexagon */
    background-color: #3498db; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 63.9%;
    left: 53.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace6{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: -7%;
    left: 36.87%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace7{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: -7%;
    left: 43.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace8{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: -7%;
    left: 50.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace9{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: -7%;
    left: 57%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace10{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color:#2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 26.5%;
    left: 33.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace11{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 26.5%;
    left: 40.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace12{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color:#2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 26.5%;
    left: 46.9%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace13{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 26.5%;
    left: 53.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace14{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 26.5%;
    left: 60.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace15{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 59%;
    left: 30.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace16{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 59%;
    left: 36.9%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace17{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color:#2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 59%;
    left: 43.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace18{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 59%;
    left: 50.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace19{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 59%;
    left: 57%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace20{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color: #2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 59%;
    left: 63.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#divplace21{
  width: 5.7%; /* The width of the hexagon */
    height: 35.7%; /* Adjust the height for a proper hexagon */
    background-color:#2872a3; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    top: 63.9%;
    left: 36.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}