

body {
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;

  /* justify-content: center; */
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

#mainContainer {
  padding: 0;
    width: 150vh;
    height: 150vh;
    position: absolute;
    top: 0px;
    
    background-size: contain;
    background-repeat: no-repeat;
   
    z-index: -1;
 
}
#backgroundInfo{
  width: 100vw;
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;
}

.container {
  width: 100%;
  height: 33%;
  display: flex;
  
  flex-wrap: wrap;
}

.container div {
  width: 10px;
  height: 3%;
  background-color: antiquewhite;
  margin-left: 3px;
  font-size: 13px;
  color: black;
}

#controls {
  
  margin-left: 56vw;
  margin-bottom: 40VW;
  color: white;
  
}
#input{
 
  border: none;
  height: 4vw;
  text-align: center;
 opacity: 0.4;
  font-size: 3vw;
  color: white;
  outline: none;
  margin: 0;
  background-color:  transparent;
  
}

.divplace{
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 5.7%;
  background-image: url('https://cdn-icons-png.flaticon.com/512/15359/15359865.png');
}

button {
  cursor: pointer;
  position: absolute;
  width: 4vw; /* The width of the hexagon */
    height: 4.5vw; /* Adjust the height for a proper hexagon */
    background-color: #4ddb34; /* Color of the hexagon */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    top: 1vw;
    left: 47.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 0.6vw;

}
.startStop{
  z-index: -2;
  background-color: rgb(0, 229, 255);
  font-size: 4vw;
  color: white;
}


#firstCont{
  height: 20%;
  position: relative;
}
#secondCont{
  height: 18%;
  position: relative;
}
#thirdCont{
  height: 29%;
  position: relative;
}
#revweList {
  position: absolute;
  background-color: rgb(85, 164, 85);
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#reviewTitle {
  font-size: 4vw;
  
}
#reviewTitle span {
  font-size: 6vw;
  color:  red;
  
}
#procent{
  margin: 0;
  font-size: 6vw;
  color: rgb(70, 51, 153)
}

.mistakes{
color:  rgb(34, 32, 32);
font-size: 2vw;
margin: 0.3vh;
}
.mistakes span {
  color:  rgb(219, 202, 202);
  font-size: 1.6vw;
  margin: 0.3vh;
  }
  
  .target{
    background-color: rgb(117, 63, 63);
    
  }
  .tarDivPass{
    background-color: aquamarine;
  }
  





#VideoAnswer{
  position: absolute;
  background-color: black;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#videoQuestion{
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
#RightContainer{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
#WrongContainer{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
#wrongAnswer{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#rightAnswer{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
#theEnd{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: green;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  white;
  font-size: 70px;
  z-index: -2;
}

#videoPlayer{
 position: absolute;
 width: 100%;
 height: 100%;
 bottom: 0;
  z-index: -2;
}
#revew{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: green;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  white;
  font-size: 70px;
  z-index: -2;
}
#goInside{
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100%;
  width: 100%;
  margin-right: 15%;
}

